*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
/*
html{
    font-size: 62.5%;
}*/
body{
    background-color: #242635;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


label{
    display: none ;
}


input#menu-hamburguesa~ul{
    position: static;
    background-color: transparent;
    display: flex;
    padding-top: 0;
    margin-top: -9px;
   
    
    
}
input#menu-hamburguesa~ul>li{
    padding: 0 1rem;
    color: #ffffff;


}
input#menu-hamburguesa~ul>li:hover{
    color: #34b0be;
    cursor: pointer;
}


.contenedor{
    display: flex;

    
}
.contenedor1{

    position: absolute;
    top: 4%;
    left: 1.5%;
    z-index: 30;
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
}
.contenedor1 p~h1{
    font-size: 150px;
    font-weight: 600;
    color: #34b0be;
    
}
.contenedor2{
    position: relative;

    left: 30vw;
    
    
}
.contenedor2 .div-esfera{
 
    padding: 18vw;
    background-image: url(../assets/fotos/mi-foto-sin-fondo.png);
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    background-color: #d1ceca;
    border-radius: 100%;
}

.contenedor3{

    position: absolute;
    top: 8%;
    right: 3%;
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
}
.contenedor3>p+h3{
    color: #34b0be;
}
 .div-rectangulo{
    
    
    background-color: #d1ceca;
    border-radius: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 72%;
    margin-left: 13%;
    
    

}
.contenedor3>div .icono1, .icono2, .icono3{
    padding: 1.4vw;
    background: #ffffff;
    border-radius: 100%;
    
}

.div-rectangulo>.logo1, .logo2, .logo3{
    width: 15%;
    padding: 1.5% 5%;
    
    border-radius: 10%;
    background: #ffffff;

}

section>h1{
    text-align: center;
    color: #34b0be;
    font-size: 50px;
    font-weight: 600;
    margin: 5vw;
}
section>p{
    padding: 3%;
    text-align: center;
    color: #ffffff;
}


.contenedor-servicios{
   
    display: flex;
    overflow: hidden;
    border: 10px;
    padding: 22px;
    justify-content:center;
   
   

    
    
   
}
.ux-design{
    background-image: url('../assets/Vectores/Ellipse 14.svg') ;
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    
    padding: 0 5%;
    
    background-color: gray;

    margin: 0 1% 0 16%;
    border-radius: 4%;
    position: relative;
  
    
    width: 100%;
    
    height: 350px;
    
}
.ux-design h4{
    
    font-size: 24px;
     font-weight: 400;
    padding-top:  50%;
   
}
.ux-design  p{
    color: #d1ceca;
    font-size: 18px;
    font-weight: 400;
}
.marketing{
    background-image: url('../assets/Vectores/Ellipse 14.svg') ;
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    
    padding: 0 5%;
    
    background-color: gray;

    margin: 0 1% 0 2%;
    border-radius: 4%;
    position: relative;
    
    
    width: 100%;
    
    height: 350px;
    
}
.marketing h4{
    padding-top:  50%;
    
    font-size: 24px;
    font-weight: 400;
    
}
.marketing  p{
    color: #d1ceca;
    font-size: 18px;
    font-weight: 400;
}

 .research {
    background-image: url('../assets/Vectores/Ellipse 14.svg') ;
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    
    padding: 0 5%;
    
    background-color: gray;

    margin: 0 1% 0 2%;
    border-radius: 4%;
    
    
    width: 100%;
    
    height: 350px;
   
  
}



.research h4{
    padding-top: 50%;
    font-size: 24px;
    font-weight: 400;
}.research p{
    color: #d1ceca;
    font-size: 18px;
    font-weight: 400;
}
.ux-design img, .marketing img, .research img {
    width: 45%;
    

    
}


.contenedor-habilidades{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-habilidades h4{
    font-size: 45px;
    font-weight: 400;
    color: #ffffff;
}
.barra{
    width: 83vw;
    height: 20px;
    border-radius: 10px;
    background: #eee;
}
.progreso{
    width: var(--w);
    height: 100%;
    border-radius: 10px;
    background: #34b0be;
    animation: Aumentar 5s ease;
}
@keyframes Aumentar {
    0%{width: 0%;}
    90%{width: -var(--w);}
}

.porcentaje{
    position: relative;
    top: 5vw;
    left: 10%;
    
}

.contenedor-portafolio{
 
    
    display: flex;
    overflow:hidden;
    flex-direction: row;
    justify-content: space-between;
    
   
}
.contenedor-portafolio > .portafolio{
    margin: 1px;
}
.portafolio img{
    width: 23vw;
}
.contenedor-contacto{
    border: 33px ;
    display: grid;
   position: relative;
   justify-content: center;
    
    
    
}

.contenedor-contacto > .contacto-celular{
    background-image: url('../assets/Vectores/Ellipse 14.svg') ;
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    height: 240px;
    background-color: gray;
    width: 250px;
    border-radius: 7%;
    margin-bottom: 10px;
    
    
    

}
.contenedor-contacto > .contacto-celular img{
    width: 53px;
    padding-top: 93px;
    margin-right: 24px;
}
.contenedor-contacto > .contacto-celular span{
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    

    

}
.contenedor-contacto > .contacto-celular  p{
    color: #d1ceca;
    justify-content: center;
    font-size: 18px;
}
.contenedor-contacto > .contacto-email{
    background-image: url('../assets/Vectores/Ellipse 14.svg') ;
    background-repeat: no-repeat;
    background-size:100% ;
    text-align: center;
    background-color: gray;
    height: 240px;
    
    width: 250px;
    border-radius: 7%;
    margin-left: 43vw;
    
    
    
    

   
    
}
.contenedor-contacto> .contacto-email img{
    width: 53px;
   
        padding-top: 96px ;
       
    
}
.contenedor-contacto > .contacto-email span{
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    
}
.contenedor-contacto > .contacto-email  p{
    color: #d1ceca;
    justify-content: center;
    font-size: 18px;
}
footer{
    position: relative;
    bottom: 0;
    background: gray;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 45px;
    font-weight: 400;
    color: #34b0be;
}
