* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
html{
    font-size: 62.5%;
}*/
html{
  scroll-behavior: smooth;
}
body {
  background-color: #242635;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
 
}#home{
  padding-top:  60px;
}
#about,#services,#abilities,#portfolio,#contact{
  padding-top:  40px;
}

label {
  display: none;
}
nav {
  display: flex;
  top: 0;
  position: fixed;
  right: 0;

  background-color: #242635;
  z-index: 1000;
  width: 100%;
  height: auto;
}

input#menu-hamburguesa ~ ul {
  position: static;
  background-color: transparent;
  display: flex;
  padding-top: 0;
  margin-top: 0;
}
input#menu-hamburguesa ~ ul > .list {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -14px 0;
}
input#menu-hamburguesa ~ ul > .active {
  background-color: #34b0be;
  transition: 0.3 ease background-color;
}
.list a {
  text-decoration: none;
  color: #fff;
}
input#menu-hamburguesa ~ ul > .list a:hover {
  color: #34b0be;
}

input#menu-hamburguesa ~ ul > .list:hover {
  color: #34b0be;
  cursor: pointer;
  background: #fff;
}
input#menu-hamburguesa ~ ul > .list a:active {
  color: #fff;
  cursor: pointer;
  background: #34b0be;
}
.contenedor {
  display: flex;
  margin-top: 45px;
}
.contenedor1 {
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: 30;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 400;
}
.contenedor1 p ~ h1 {
  font-size: 8vw;
  font-weight: 600;
  color: #34b0be;
}

.contenedor2 {
  margin: 0 auto;
}
.contenedor2 .div-esfera {
  padding: 12.5vw;
  background-image: url(../assets/fotos/mi-foto.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: #d1ceca;
  border-radius: 10%;
  margin: 0 auto;
}

.contenedor3 {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 400;
}

.contenedor3 > div .icono1,
.icono2,
.icono3 {
  width: 55px;
  padding: 10px;
  background: #ffffff;
  border-radius: 20%;
}

.contenedor3 img:hover {
  cursor: pointer;
  border: 3px solid #34b0be;
}
.contenedor3 a {
  color: transparent;
}


section > h1 {
  margin: 0;

  text-align: center;
  color: #34b0be;
  font-size: 2.5em;
  font-weight: 600;
}
section > p {
  margin-top: -12px;
  padding: 3%;
  text-align: center;
  color: #ffffff;
}

.container-services {
  margin: 0 auto;
  padding: 29px;

  display: flex;
  column-gap: 2%;

  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.javascript,
.react,
.html .css {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-left: 0;
  background-color: gray;
  padding: 0 22px;
  border-radius: 4%;
}

.description-services {
  margin-top: 103px;
  max-width: 250px;
  min-width: 150px ;
}
.icon-technology {
  color: #34b0be;
  font-size: 50px;
}
.technology-name {
  font-size: 24px;
  font-weight: 400;
  padding: 6px 0;
  text-transform: uppercase;
}
.description-technology {
  color: #d1ceca;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-skill h4 {
  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
}
.container-skill h4 > span {
  font-size: 25px;
}

.bar {
  width: 83vw;
  height: 20px;
  border-radius: 10px;
  background: #eee;
}
.progress {
  width: var(--w);
  height: 100%;
  border-radius: 10px;
  background: #34b0be;
  animation: Increment 5s ease;
}
.transitions{
  transition: 3s;
}
@keyframes Increment {
  0% {
    width: 0%;
  }
  90% {
    width: -var(--w);
  }
}

.percentage {
  position: relative;
  top: 5vw;
  left: 10%;
}

.portafolio {
  margin: 0 10px;
  width: 20%;
  height: 250px;
}
.portafolio img {
  width: 100%;
  height: 100%;
}
.contenedor-contacto {
  border: 33px;
  display: grid;
  position: relative;
  justify-content: center;
}

.contenedor-contacto > .contacto-celular {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 240px;
  background-color: gray;
  width: 250px;
  border-radius: 7%;
  margin-bottom: 10px;
}
.contenedor-contacto > .contacto-celular img {
  width: 53px;
  padding-top: 93px;
  margin-right: 24px;
}
.contenedor-contacto > .contacto-celular span {
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
}
.contenedor-contacto > .contacto-celular p {
  color: #d1ceca;
  justify-content: center;
  font-size: 18px;
}
.contenedor-contacto > .contacto-email {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: gray;
  height: 240px;

  width: 250px;
  border-radius: 7%;
  margin-left: 43vw;
}
.contenedor-contacto > .contacto-email img {
  width: 53px;

  padding-top: 96px;
}
.contenedor-contacto > .contacto-email span {
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
}
.contenedor-contacto > .contacto-email p {
  color: #d1ceca;
  justify-content: center;
  font-size: 18px;
}
footer {
  position: relative;
  bottom: 0;
  background: gray;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 45px;
  font-weight: 400;
  color: #34b0be;
}
footer img {
  width: 50px;

  margin-bottom: -10px;
  margin-right: 8px;
}
