body {
  font-size: 1em;
}

#home {
  padding-top: 60px;
}
#about,
#services,
#abilities,
#portfolio,
#contact {
  padding-top: 40px;
}

.label-burguer-menu {
  display: none;
}
nav {
  top: 0;
  position: fixed;
  right: 0;

  background-color: #242635;
  z-index: 1000;
  width: 100%;
  height: auto;
}
.nav-light {
  background-color: rgb(231, 224, 224);
}

input#hamburger-menu ~ ul {
  position: static;
  background-color: transparent;
  display: flex;
  padding-top: 0;
  margin-top: 0;
}
input#hamburger-menu ~ ul > .list {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -14px 0;
}
.active {
  background-color: #34b0be;
  transition: 0.3 ease background-color;
}
.a {
  text-decoration: none;
  color: #fff;
}

 .list a:hover {
  color: #34b0be;
}
.list:hover {
  color: #34b0be;
  cursor: pointer;
  background: #fff;
}
.list a:active {
  color: #fff;
  cursor: pointer;
  background: #34b0be;
}
.container {
  margin-top: 45px;
}
.container1 {
  top: 12%;
  left: 10%;
  font-size: 1.6em;
}

.container1 p ~ h1 {
  font-size: 8vw;
  font-weight: 600;
  color: #34b0be;
}

.profile-picture {
  padding: 12.5vw;
  z-index: 100;
}

.container3 {
  top: 15%;
  right: 10%;
  font-size: 1.6em;
  font-weight: 400;
  z-index: 100;
}

.icon1,
.icon3,
.CV-icon {
  margin-left: 12px;
  width: 55px;
  padding: 10px;
}

.container3 img:hover {
  cursor: pointer;
  border: 3px solid #34b0be;
}


.title-form {
  color: #34b0be;
  display: block;
  width: 85%;
  margin: 0 auto;
}
.title-form:hover {
  background: #34b0be;
  color: #fff;
  cursor: pointer;
}
.contact-form-mobile {
  display: none;
}
.contact-form {
  width: 85%;
  position: relative;
  background: transparent;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.contact-form-light {
  background: rgba(141, 135, 135, 0.63);
  padding: 1px 0;
  border-radius: 10px;
}


.loanding {
  right: 30%;
}
section > h1 {
  margin: 0;
  font-size: 2.5em;
}
section > p {
  margin-top: -12px;
}

.container-services {

  position: relative;
  z-index: 100;
  column-gap: 2%;


}

.javascript,
.react,
.html,
.css,
.nodejs {

  margin-left: 0;
  padding: 0 22px;
}

.description-services {
  margin-top: 103px;
  max-width: 250px;
  min-width: 150px;
}
.icon-technology {
  color: #34b0be;
  font-size: 50px;
}

.description-technology {
  font-size: 0.9em;
}


.habilities-title {
  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
}

.container-skill h4 > span {
  font-size: 25px;
}


.progress {
  position: relative;
  z-index: 100;
}
.transitions {
  transition: 3s;
}

.progress:hover {
  cursor: pointer;
  width: var(--w);
  height: 100%;
  border-radius: 10px;
  background: #34b0be;
  animation: Increment 5s ease;
}




.portfolio {
  margin: 0 10px;
  width: 20%;
  height: 250px;
  position: relative;
  z-index: 100;
}
.portfolio img {
  width: 100%;
  height: 100%;
}
.project-description {
  color: #120907;
  position: absolute;
  top: -100%;
  background: #fff;
  height: 100%;
  padding: 10px 20px;
  border: 3px solid #42aab6;
  width: 100%;
  visibility: hidden;
  transition: 0.3s;
  display: block;
}
.project-description-title {
  text-align: center;
  font-weight: bold;
  color: #42aab6;
}
.project-description-text {
  text-align: justify;
}
.project-description-tecno {
  text-align: center;
  margin-top: 18px;
  font-weight: bold;
  color: #42aab6;
}
.container-contact {
  z-index: 100;
}
.portfolio:hover .project-description {
  visibility: visible;
  top: 0;
  transition: 1.5s;
}
.portfolio:disabled .project-description {
  background: red;
}
.cell-contact {
  width: 250px;
  height: 240px;
}
.cell-contact img {
  width: 53px;
  padding-top: 93px;
  margin-right: 24px;
}
.cell-contact span {
  font-size: 30px;
}
.cell-contact p {
  font-size: 18px;
}
.email-contact {
  width: 250px;
  height: 240px;
}
.email-contact img {
  width: 53px;

  padding-top: 96px;
}
.email-contact span {
  font-size: 30px;
}
.email-contact p {
  font-size: 18px;
}

.gion-1 {
  width: 47.5%;
}
.gion-2 {
  width: 47.5%;
}

@media screen and (max-width: 1048px) {
  .contenedor3 {
    right: 5%;
    top: 13%;
  }
  .contenedor3 > div .icono1 {
    position: absolute;
    left: -77px;
    top: 15px;
  }
  .contenedor3 > div .CV-icon {
    position: absolute;
    left: -77px;
    top: 100px;
  }
  .contenedor3 > div .icono3 {
    position: absolute;
    left: -77px;
    top: 200px;
  }
  .javascript {
    margin-left: 40%;
    padding: 0 22px;
  }

  .gion-1 {
    width: 45.5%;
  }
  .gion-2 {
    width: 45.5%;
  }
}
