* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #242635;
  font-family: 'Shantell Sans', cursive;
  font-weight: 400;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 1;
}

#home,
#about,
#services,
#abilities,
#portfolio,
#contact {
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: end;
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  height: 100%;
  top: 5px;
  margin: 0 auto;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.active-dark {
  background: orange;
  color: #000;
}
.active-dark::after {
  right: 0;
  left: unset;
}

.light{
  background: #fff;
}
nav img {
  width: 45px;
  position: fixed;
  right: 2%;
  padding: 4px;
  z-index: 1000;
}
.img-light {
  background: #040407;
}
input#hamburger-menu {
  visibility: hidden;
}
input#hamburger-menu ~ ul {
  background-color: #5c5e68e8;
  color: #ffffff;
  width: 100%;
  list-style: none;
  height: 80%;
  top: 8.5%;

  right: 100%;
  transition: all 300ms linear;
  text-align: center;
  padding: 22px;
  position: fixed;
}
input#hamburger-menu ~ ul > .list {
  padding: 23px;
  font-size: 18px;
  font-weight: 400;
}
.list a {
  text-decoration: none;
  color: #fff;
}
input#hamburger-menu:checked ~ ul {
  right: 0;
  z-index: 1000;
  position: fixed;
}

.container {
  display: flex;
}
.container-light  {
  /* para que las letras esten negras cuando cambie a dark-light */
  color: #2e2d2b  !important;
 
}
.container1 {
  position: absolute;
  top: 4%;
  left: 1.5%;
  z-index: 30;
  color: #fff;
  font-size: 3.7vw;
  font-weight: 400;
}
.container1 p ~ h1 {
  font-size: 12.5vw;
  font-weight: 600;
  color: #34b0be;
}

 .profile-picture{
  padding: 28vw;
  background-color: #d1ceca;
  border-radius: 10%;
  margin: 0 auto;
  background-image: url(../assets/fotos/mi-foto.png);
  background-repeat: no-repeat;
  background-size: 100%;
   
}

.container3 {
  position: absolute;
  top: 8%;
  right: 3%;
  color: #fff;
}
.container3 > p + h3 {
  color: #34b0be;
}

.icon1,
.CV-icon,
.icon3 {
  width: 34px;
  padding: 5px;
  background: #f7f1f1;
  border-radius: 20%;
}
.container3 a {
  color: transparent;
}
.title-form {
  display: none;
}
.contact-form {
  display: none;
}
.contact-form-light {
  background: rgba(141, 135, 135, 0.63);
  padding: 1px 0;
  border-radius: 10px;
  border: 0;
}

.contact-form-mobile {
  display: block;
  margin: 25px;
  overflow: auto;
}

.container-input {
  position: relative;
  padding: 4px;
}
.contact-form-input {
  background: none;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
  position: relative;
}
.contact-form-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  border-bottom: 1px solid #c7c7c7;
}
.contact-form-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #34b0be;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.label-text-name {
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3 ease;
  color: #fff;
}
.contact-form-input:focus + .contact-form-label .label-text-name,
.contact-form-input:valid + .contact-form-label .label-text-name {
  transform: translateY(-150%);
  font-size: 12px;
  color: #2ecece;
}

.contact-form-input:focus + .contact-form-label:after,
.contact-form-input:valid + .contact-form-label:after {
  transform: translateX(0%);
}
.contact-form-textarea {
  background: transparent;
  resize: none;
  outline: 0px;
  color: #fff;
  border: 0.5px solid #fff;
  width: 100%;
  opacity: 1;
}
.contact-form-textarea::placeholder {
  color: #fff;
  font-size: 14px;
}

.contact-form-textarea:focus {
  outline: 1px solid #34b0be;
}
.contact-form-button {
  height: 20px;
  width: 100%;
  background: #34b0be;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: 0px;
}
.contact-form-button:hover {
  background: #fff;
  color: #34b0be;
  transition: all 0.8s ease;
}
.loanding {
  width: 70px;
  text-align: center;
  position: absolute;
  right: 44%;
  top: 11px;
  opacity: 0;
}

section > h1 {
  text-align: center;
  color: #34b0be;
  font-size: 32px;
  font-weight: 600;
  margin: 5vw;
}
section > p {
  padding: 3%;
  text-align: center;
  color: #ffffff;
}

.container-services {
  margin: 0 auto;
  padding: 29px;

  display: flex;
  column-gap: 5%;

  flex-direction: row;
  justify-content: center;
  overflow: auto;
}
.javascript {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  background-color: gray;
  padding: 0 17px;
  border-radius: 4%;
  margin-left: 720px;
}
.react,
.html,
.css,
.nodejs {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  background-color: gray;
  padding: 0 17px;
  border-radius: 4%;
}
.description-services {
  margin-top: 43px;
  max-width: 300px;
  min-width: 150px;
}
.icon-technology {
  color: #34b0be;
  font-size: 50px;
}
.technology-name {
  font-size: 24px;
  font-weight:bold;
  padding: 6px 0;
  text-transform: uppercase;
  color: #2e2d2b;
}
.description-technology {
  color: #d1ceca;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.habilities-title {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.bar {
  width: 83vw;
  height: 20px;
  border-radius: 10px;
  background: #eee;
}
.progress {
  width: var(--w);
  height: 100%;
  border-radius: 10px;
  background: #34b0be;
  animation: Increment 5s ease;
}
@keyframes Increment {
  0% {
    width: 0%;
  }
  90% {
    width: -var(--w);
  }
}

.percentage {
  position: relative;
  top: 5vw;
  left: 10%;
}

.portfolio {
  margin-top: 10px;
  text-align: center;
}
.portfolio a {
  text-decoration: none;
}
.portfolio img {
  width: 70%;
  position: relative;
}
.project-description {
  display: none;
}


.project-description-ul {
  margin: 6px auto 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}
.project-description-ul li img{
  width: 50%;
  height: 56%;
  object-fit: contain;
  margin-top: -7px;
  margin-bottom: -7px;
}
.project-description-ul li {
  list-style: none;
  font-size: 35px;
  color: #4f5379;
}
.project-description-click {
  width: 60px;
  text-align: center;
  margin: 0 auto;
}

.container-contact{
  border: 33px;
  display: grid;
  position: relative;
  justify-content: center;
}

.cell-contact{
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 166px;
  background-color: gray;
  width: 150px;
  border-radius: 7%;
  margin-bottom: 10px;
}
.cell-contact img {
  padding: 52px 0 4px 0;
}
.cell-contact span {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
}
.cell-contact p {
  color: #d1ceca;
  justify-content: center;
  font-size: 12px;
}
.email-contact {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: gray;
  height: 166px;
  width: 150px;
  border-radius: 7%;
  margin-left: 43vw;
}
.email-contact img {
  padding: 52px 0 4px 0;
}
.email-contact span {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
}
.email-contact p {
  color: #d1ceca;
  justify-content: center;
  font-size: 12px;
}
.container-contact a {
  text-decoration: none;
  color: #d1ceca;
}

footer {
  position: relative;

  background: gray;
  height: 130px;
  color: rgb(238, 229, 229);
  z-index: 100;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.footer-container-anchors {
  text-align: center;
}
.footer-container-anchors a {
  background: transparent;
  text-decoration: none;
}
.footer-icon {
  position: relative;

  width: 20px;
  padding: 1.5px;
  background: #ffffff;
  border-radius: 20%;
}

footer img:hover {
  cursor: pointer;
  border: 2px solid #34b0be;
}
.footer-container {
  position: absolute;
  top: 4px;
}
.footer-subtitles {
  text-align: center;
}
.footer-subtitles p {
  padding: 2px;
}
.gion-1 {
  position: absolute;
  border-top: 1px solid;
  width: 43.5%;
  text-align: start;
  left: 0;
  top: 16px;
}
.gion-2 {
  position: absolute;
  border-top: 1px solid;
  width: 43.5%;
  text-align: start;
  right: 0;
  top: 16px;
}

.transitions {
  transition: 3s;
}
@media screen and (max-width: 380px) {
  .gion-1 {
    width: 40.5%;
  }
  .gion-2 {
    width: 40.5%;
  }
  .loanding {
    right: 39%;
  }
}
@media screen and (max-width: 285px) {
  .icono1,
  .icono2,
  .icono3 {
    width: 24px;
    padding: 5px;
    background: #ffffff;
    border-radius: 20%;
  }
  .gion-1 {
    width: 38.5%;
  }
  .gion-2 {
    width: 38.5%;
  }

  .loanding {
    right: 33%;
  }
}
