* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
html{
    font-size: 62.5%;
}*/
html{
  scroll-behavior: smooth;
}
body {
  background-color: #242635;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#home,#about,#services,#abilities,#portfolio,#contact{
  padding-top:  10px;
}

nav {
  display: flex;
  justify-content: end;
}
nav img {
  width: 50px;
  position: fixed;
  right: 2%;
  padding: 4px;
  z-index: 1000;
}
input#menu-hamburguesa {
  visibility: hidden;
}
input#menu-hamburguesa ~ ul {
  background-color: #5c5e68e8;
  color: #ffffff;
  width: 100%;
  list-style: none;
  height: 80%;
  top: 8.5%;

  right: 100%;
  transition: all 300ms linear;
  text-align: center;
  padding: 22px;
  position: fixed;
}
input#menu-hamburguesa ~ ul > .list {
  padding: 23px;
  font-size: 18px;
  font-weight: 400;
}
.list a {
  text-decoration: none;
  color: #fff;
}
input#menu-hamburguesa:checked ~ ul {
  right: 0;
  z-index: 1000;
  position: fixed;
}

.contenedor {
  display: flex;
}
.contenedor1 {
  position: absolute;
  top: 4%;
  left: 1.5%;
  z-index: 30;
  color: #ffffff;
  font-size: 3.7vw;
  font-weight: 400;
}
.contenedor1 p ~ h1 {
  font-size: 12.5vw;
  font-weight: 600;
  color: #34b0be;
}
.contenedor2 {
  margin: 0 auto;
  text-align: center;
}
.contenedor2 .div-esfera {
  padding: 28vw;
  background-color: #d1ceca;
  border-radius: 10%;
  margin: 0 auto;
  background-image: url(../assets/fotos/mi-foto.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.contenedor3 {
  position: absolute;
  top: 8%;
  right: 3%;
  color: #ffffff;
}
.contenedor3 > p + h3 {
  color: #34b0be;
}

.icono1,
.icono2,
.icono3 {
  width: 34px;
  padding: 5px;
  background: #f7f1f1;
  border-radius: 20%;
}
.contenedor3 a {
  color: transparent;
}

section > h1 {
  text-align: center;
  color: #34b0be;
  font-size: 32px;
  font-weight: 600;
  margin: 5vw;
}
section > p {
  padding: 3%;
  text-align: center;
  color: #ffffff;
}

.container-services {
  margin: 0 auto;
  padding: 29px;

  display: flex;
  column-gap: 5%;

  flex-direction: row;
  justify-content: center;
  overflow: auto;
}
.javascript {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  background-color: gray;
  padding: 0 17px;
  border-radius: 4%;
  margin-left: 500px;
}
.react,
.html,
.css {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  background-color: gray;
  padding: 0 17px;
  border-radius: 4%;
}
.description-services {
  margin-top: 43px;
  max-width: 300px;
  min-width: 150px;
}
.icon-technology {
  color: #34b0be;
  font-size: 50px;
}
.technology-name {
  font-size: 24px;
  font-weight: 400;
  padding: 6px 0;
  text-transform: uppercase;
}
.description-technology {
  color: #d1ceca;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-skill h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.bar {
  width: 83vw;
  height: 20px;
  border-radius: 10px;
  background: #eee;
}
.progress {
  width: var(--w);
  height: 100%;
  border-radius: 10px;
  background: #34b0be;
  animation: Increment 5s ease;
}
@keyframes Increment {
  0% {
    width: 0%;
  }
  90% {
    width: -var(--w);
  }
}

.percentage {
  position: relative;
  top: 5vw;
  left: 10%;
}

.contenedor-portafolio > .portafolio {
  margin: 0 6%;
}
.portafolio img {
  width: 70vw;
}
.contenedor-contacto {
  border: 33px;
  display: grid;
  position: relative;
  justify-content: center;
}

.contenedor-contacto > .contacto-celular {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 166px;
  background-color: gray;
  width: 150px;
  border-radius: 7%;
  margin-bottom: 10px;
}
.contenedor-contacto > .contacto-celular img {
  padding: 52px 0 4px 0;
}
.contenedor-contacto > .contacto-celular span {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
}
.contenedor-contacto > .contacto-celular p {
  color: #d1ceca;
  justify-content: center;
  font-size: 12px;
}
.contenedor-contacto > .contacto-email {
  background-image: url("../assets/Vectores/Ellipse 14.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: gray;
  height: 166px;

  width: 150px;
  border-radius: 7%;
  margin-left: 43vw;
}
.contenedor-contacto > .contacto-email img {
  padding: 52px 0 4px 0;
}
.contenedor-contacto > .contacto-email span {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
}
.contenedor-contacto > .contacto-email p {
  color: #d1ceca;
  justify-content: center;
  font-size: 12px;
}
.contenedor-contacto a{
    text-decoration: none;
    color: #d1ceca;
}
footer {
  position: relative;
  bottom: 0;
  background: gray;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #34b0be;
}
footer img {
  width: 26px;

  margin-bottom: -8px;
  margin-right: 8px;
}
.transitions{
  transition: 3s;
}
@media screen and (max-width: 285px) {
    .icono1,
    .icono2,
    .icono3 {
      width: 24px;
      padding: 5px;
      background: #ffffff;
      border-radius: 20%;
    }
}
